
*{
    margin: none;
    padding: 0 0;
    box-sizing: border-box;
    border: none;
    justify-content: space-around;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

h1{
    font-family: Arial;
    font-weight: 600;
    text-align: center;
    color: #dce1e9;
    font-size:50px ;
    
}
#heading{
    background-color:#363732;
}
h3{
    color:#1f252f;
    font-family: monospace;
    font-size: 35px;
    font-weight: 900;
}
p{
    display: flex;
    font-size: 20px;
    margin:0;
    padding: 0;
    width: 1000px;
    height: 400px;
    padding: 10px 10px;
    position: relative;
}
.para{
    display: flex;
    justify-content: space-between;

}
html{
    font-size: 300px;
}
li,ul{
    font-size: 30px;
    padding: 20px;
}
.containerx{
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.search-bar{
    width:100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;

}
.search-bar input{
    background: transparent;
    flex:1;
    border:0;
    outline:none;
    padding: 24px 20px;
    font-size: 20px;
    color:#cac7ff;


}
::placeholder{
    color: #cac7ff;
}
.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius:50%;
    width:60px;
    height:60px;
    background: #58629b;;

}
